doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(type="module" src="index.js" defer)
    title IBS | aplikacja
  body
    .app-container
      header.header
        p.hello-user Twoje raporty
        .nav-btns
          a.link.nav-link.logout(href="#") Wyloguj
        .nav-btns2
          a.link.nav-link.back-mainpage(href="/myRaports") Powrót
      section.section--raports-details
        each raport in raports
          .raport-card 
            p.raport--card-date= raport.date.toLocaleDateString('pl-PL')
            p.raport--card-title= raport.meal.title
            p.raport--card-symptom= `Objawy: ${raport.symptoms}`
            p.raport--card-pooped= `Wypróżnienie: ${raport.pooped === true ? 'tak' : 'nie'}`
        
